<!doctype html>
<html lang='en'>
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/header %>

  <!-- LOCATIONS VIEW -->
  <div id='view-locations' class='view container'>
    <h3> Select a location &hellip; </h3>
    <!-- ko foreach: Data.locationRows -->
    <div class='row' data-bind='foreach: $data'>
      <div class='col-sm-4'>
        <div class='panel panel-info'>
          <!-- LOCATION HEADER -->
          <div class='panel-heading'>
            <h3 class='panel-title' data-bind='text: name'></h3>
          </div>
          <!-- LOCATION INFORMATION -->
          <div class='panel-body'>

          </div>
          <!-- LOCATION FOOTER -->
          <div class='panel-footer'>
            <button class='btn btn-default btn-block' type='button' data-bind='click: function() { $root.Views.showMenu(id); }'>
              Menu/Order <i class='fa fa-fw fa-arrow-circle-right'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /ko -->
  </div><!-- /LOCATIONS VIEW -->

  <!-- MENUS VIEW -->
  <div id='view-menus' class='view container'>
    <p> Menu view: </p>
    <pre data-bind='text: Data.menu.entrees'></pre>
  </div><!-- /MENUS VIEW -->

  <!-- ITEMS VIEW -->
  <div id='view-items' class='view container'>
    <p> Items view </p>
  </div><!-- /ITEMS VIEW -->

  <% include partials/footer %>
</body>
</html>
