#modal-signIn .modal-body { min-height: 230px; }
#signIn-loading {
  text-align: center;
  color: #444;
  display: none; }
#signIn-error {
  margin-bottom: 0px;
  display: none; }
.view { display: none; }
.view-active { display: block; }
.hours-list {
  margin: 0;
  padding: 0; }
.hours-list li {
  padding: 4px 15px;
  position: relative;
  display: block;
  list-style: none;
  border: none; }
