#modal-signIn .modal-body { min-height: 230px; }
#signIn-loading {
  text-align: center;
  color: #444;
  display: none; }
#signIn-error {
  margin-bottom: 0px;
  display: none; }
.view { display: none; }
.view-active { display: block; }
.hours-list {
  margin: 0;
  padding: 0; }
.hours-list li {
  padding: 4px 15px;
  position: relative;
  display: block;
  list-style: none;
  border: none; }
.submenu-item {
  display: inline-block;
  width: 340px;
  border: 1px solid #ccc;
  margin: 0px 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #efefef;
  cursor: pointer;
  float: left; }
.submenu-item:hover {
  box-shadow: 2px 2px 2px #cdcdcd; }
.submenu-item .panel-body { height: 200px; }
