<!-- MASTHEAD -->
<nav class='navbar navbar-default main-navigation' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <!-- MASTHEAD NAVIGATION TOGGLE -->
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <!-- MASTHEAD BRAND -->
      <a class='navbar-brand' href='#'>Web Foods 2.0</a>
    </div>
    <!-- MASTHEAD NAVIGATION -->
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul id='main-navbar' class='nav navbar-nav navbar-left'>

      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li data-bind='visible: !User.logged()'><a href='#modal-signIn' role='button' data-toggle='modal' >Sign In</a></li>
        <li data-bind='visible: !User.logged()'><a href='#modal-register' role='button' data-toggle='modal'>Register</a></li>
        <li data-bind='visible: User.logged()'><a href='#'>hello <span data-bind='text: User.name()'></span>!</a></li>
      </ul>
    </div>
  </div>
</nav><!-- /MASTHEAD -->

<!-- MODAL-SIGNIN -->
<div class='modal fade' id='modal-signIn'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <!-- MODAL-SIGNIN-HEADER -->
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Sign In</h4>
      </div>
      <!-- MODAL-SIGNIN-BODY -->
      <div class='modal-body'>
        <form id='signIn-form' role='form'>
          <div class='form-group'>
            <label for='signIn-username'>Username:</label>
            <input type='email' class='form-control' id='signIn-username' placeholder='Enter username'>
          </div>
          <div class='form-group'>
            <label for='signIn-password'>Password:</label>
            <input type='password' class='form-control' id='signIn-password' placeholder='Enter password'>
          </div>
        </form>
        <div id='signIn-loading'><i class='fa fa-cog fa-spin fa-3x'></i></div>
        <div id='signIn-error' class='alert alert-danger'>Sign in failed. Wrong username or password.</div>
      </div>
      <!-- MODAL-SIGNIN-FOOTER -->
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <button id='button-signIn' type='button' class='btn btn-primary'>Sign In</button>
      </div>
    </div>
  </div>
</div><!-- /MODAL-SIGNIN -->

<!-- MODAL-REGISTER -->
<div class='modal fade' id='modal-register'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <!-- MODAL-REGISTER-HEADER -->
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Register new Account</h4>
      </div>
      <!-- MODAL-REGISTER-BODY -->
      <div class='modal-body'>
        <form id='register-form' role='form'>
          <div class='form-group'>
            <label for='register-username'>Username:</label>
            <input type='email' class='form-control' id='register-username' placeholder='Enter username'>
          </div>
          <div class='form-group'>
            <label for='register-password'>Password:</label>
            <input type='password' class='form-control' id='register-password' placeholder='Enter password'>
          </div>
          <div class='form-group'>
            <label for='register-password-confirm'>Password:</label>
            <input type='password' class='form-control' id='register-password-confirm' placeholder='Confirm password'>
          </div>
        </form>
        <div id='register-loading'><i class='fa fa-cog fa-spin fa-3x'></i></div>
        <div id='register-error' class='alert alert-danger'>Registration failed. Username is already taken. </div>
        <div id='register-error-2' class='alert alert-danger'>Registration failed. Passwords did not match. </div>
      </div>
      <!-- MODAL-REGISTER-FOOTER -->
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <button id='button-register' type='button' class='btn btn-primary'>Register</button>
      </div>
    </div>
  </div>
</div><!-- /MODAL-REGISTER -->

<!-- MODAL-ORDER -->
<div class='modal fade' id='modal-order'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <!-- MODAL-ORDER-HEADER -->
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Order: <span data-bind='text: Data.curItem().description'></span></h4>
      </div>
      <!-- MODAL-ORDER-BODY -->
      <div class='modal-body'>

        <form id='order-form' role='form'>
          <p> Hello? </p>
        </form>

        <div id='order-loading'><i class='fa fa-cog fa-spin fa-3x'></i></div>
        <div id='order-error' class='alert alert-danger'> Order failed to submit. </div>
        <p> <strong>Cost</strong>: 1 Meal Bundle </p>
      </div>
      <!-- MODAL-ORDER-FOOTER -->
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <button id='button-register' type='button' class='btn btn-primary'>Submit Order!</button>
      </div>
    </div>
  </div>
</div><!-- /MODAL-ORDER -->
